.pagebody{
    width: 100%;
}

.dataform{
    float: left;
    width: 50%;
    margin-left: 10%;
}

button, input, select, textarea {
    font-family: inherit;
}

.dataform label, input {
    margin-bottom: 30px; 
}


.dataform #submitbutton{
    margin-left: 25%;
    width: 100px;
}


.results:after{
    float: left;
}



.pagefooter{
    clear: both;
    width: 100%;
    text-align: center;
}