body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: DejaVu Sans Mono, monospace;
    background-image: url("trees.jpg");
    background-position: top;
}

.pageheader{
    max-width: 70%;
    margin: 0 auto;
    float: none;
    padding-top: 2%;
    height: fit-content;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
    font-size: xxx-large;
    color:rgba(73, 92, 81);
}

h1:after {
    content: " ";
    display: block;
    border-top: 4px solid rgba(73, 92, 81);
    border-bottom: 4px solid rgba(73, 92, 81);
    border-radius: 4px;
  }


.navbar{
    text-align: center;
    overflow: hidden;
    background-color: rgba(73, 92, 81, 0.7);
    position: fixed; 
    top: 0; 
    width: 100%;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
  }
